body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1E3E4;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1C1D21;
    min-width: 40vh;
    min-height: 60vh;
}
h1{
    color: inherit;
    margin: 0 0 5vh 0;
}
.input_box{
    display: flex;
    justify-content: center;
    width: 40vh;
    align-items: center;
}
#task_input{
    margin: 0 2vh 0 0;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}
#add_btn{
    width: 40px;
    background-color: #BB9BB0;
    cursor: pointer;
    border-radius: 5px;
}
#task_list{
    list-style: none;
    min-height: 40vh;
    padding: 5px 20px;
    margin: 10px 0 10px 0;
    min-width: 15vh;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    background-color: #CCBCBC;
}
.tasks{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    border-radius: 5px;
    min-width: 13vh;
    background-color: #A288A6;
    padding: 5px;
    margin: 3px;
}
.delete{
    color: inherit;
    border-radius: 5px;
    background-color: #CCBCBC;
    margin: 0 0 0 5px;
    padding: 2px;
}
